namespace webapp.Views.Home;

public class Calculator
{
@{
ViewBag.Title = "Kalkulator";
Layout = "_Layout";
}
<h1>@ViewBag.Title</h1>
<h2>Wynik obliczen: @ViewBag.A @ViewBag.Operator @ViewBag.B = ViewBag.Result</h2>
<p></p>
}